In [1]:
import dotenv

from modifier import Modifier, default_faker
from sql import load_table, dataframe_to_pg_bulk_update

In [2]:
dotenv.load_dotenv()

True

# Load data

In [3]:
user = load_table("user")
user.describe()

         id     ref first_name last_name
count     2       2          2         2
unique    2       2          2         2
top     123  STD123       axel    rakoto
freq      1       1          1         1

# Process data

## how to use ?
In short
- just chain all the operations
- get the result at the end

In [4]:
def random_std() -> str:
    random_number = default_faker.random_number(5, True)
    return f"STD{random_number}"

In [5]:
Modifier(user).randomize_first_name("first_name").randomize_last_name("last_name").apply_function("ref", random_std).result()

    id       ref first_name last_name
0  123  STD40575      Allen     Poole
1  321  STD88198       John    Garcia

# Create sql

In [6]:
sql = dataframe_to_pg_bulk_update(user, "user", "id")

In [8]:
print(sql)

UPDATE user
SET
    ref = data.ref,
    first_name = data.first_name,
    last_name = data.last_name
FROM (
    VALUES
    ('123', 'STD40575', 'Allen', 'Poole'),
    ('321', 'STD88198', 'John', 'Garcia')
) AS data(id, ref, first_name, last_name)
WHERE user.id = data.id;